.table-responsive {
    box-shadow: 0 1px 2px 0 rgb(246, 247, 249), 0 1px 3px 1px rgba(60,64,67,.15);
}
.table {
    margin-bottom: 0;
}
  .bg-light {
    box-shadow: 0 1px 2px 0 rgb(246, 247, 249), 0 1px 3px 1px rgba(60,64,67,.15);
    margin-bottom: 21px;
  }
  .sign-active {
    padding: .375rem .75rem;
  }

  .main-btn {
    padding: 30px;
    margin-bottom: 15px;
    width: inherit;
  }

  .btn-primary{
    background-color: #5a55aa;
    border-color: #5a55aa;
  }
  @media (min-width: 1199.98px) { 
    /* .report{
      text-align: right;
    }
    .add_new{
      text-align: left;
    } */
}